body
{
    font-size: 75%;
    font-family: Segoe UI, Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

.post h2 { margin:0px; }
.post .date { font-style:italic; }
